section.pokeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

figure.singlePokemon {
  width: 150px;
}

figure.singlePokemon img {
  display: block;
  margin: 0 auto;
}

.singlePokemon__name {
  text-align: center;
}